# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

package-lock.json
# Angular CLI specific files
.angular/
.angular/cache/

# Editor and IDE specific
.vscode/
.idea/
*.iml

# Temporary files
*.tmp
*.temp
~*

# Lock files (optional: exclude one if using Yarn or npm)
package-lock.json
package.json
tsconfic-app.json
tsconfig.json
main.ts
yarn.lock
pnpm-lock.yaml

# Lint and formatting
.eslintcache
.prettierignore
.prettiercache

# Test-related files
jest/
*.test-results/
*.snap