<main class="main">
  <!-- Create Golf Bag Button -->
  <div class="create-golf-bag-container">
    <button
      class="btn btn-primary create-golf-bag-button"
      (click)="redirectToCreateBag()"
    >
      Create Golf Bag
    </button>
  </div>

  <!-- List of Golf Bags -->
  <div class="golf-bag-list-container" *ngIf="golfBags.length > 0; else noGolfBags">
    <h2>Your Golf Bags</h2>
    <ul class="golf-bag-list">
      <li
        *ngFor="let bag of golfBags"
        (click)="selectBag(bag.GolfBag_id)"
        [class.selected]="bag.GolfBag_id === selectedBagId"
      >
        {{ bag.name }}
      </li>
    </ul>
  </div>

  <!-- No Golf Bags Message -->
  <ng-template #noGolfBags>
    <p>No golf bags available. Create one to get started.</p>
  </ng-template>

</main>
